<div class="dashboard-container">
  <mat-card *ngFor="let photo of photos" class="photo-card">
    <mat-card-header class="card-header">
      <mat-card-title class="mat-card-header-text">{{ photo.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="photo.thumbnailUrl" alt="Thumbnail">
    <mat-card-actions>
      <a mat-raised-button color="primary" class="" mat-button [href]="photo.url" target="_blank">View Photo</a>
    </mat-card-actions>
  </mat-card>
  <div class="loading-spinner" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

